bcrypt==3.2.0
cffi==1.14.2
click==7.1.2
dnspython==2.0.0
email-validator==1.1.1
fastapi==0.61.1
h11==0.9.0
httptools==0.1.1
idna==2.10
motor==2.2.0
nanodb==0.4.3
nanodb-driver==0.0.3
passlib==1.7.2
pycparser==2.20
pydantic==1.6.1
PyJWT==1.7.1
pymongo==3.11.0
python-decouple==3.3
PyYAML==5.4
pyzmq==22.0.3
six==1.15.0
starlette==0.13.6
uvicorn==0.11.8
uvloop==0.14.0
websockets==8.1
